<div class="card">
    <div class="card-body">
        <form action="">
            <div class="row">
                <div class="col-md-6">
                    <label for="MailDriver pb-1">Mail Driver</label>
                    <input type="text" name="MailDriver" id="MailDriver" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="MailHost">Mail Host</label>
                    <input type="text" name="MailHost" id="MailHost" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="MailPort">Mail Port</label>
                    <input type="number" name="MailPort" id="MailPort" class="form-control" min="100" max="10000">
                </div>
                <div class="col-md-6">
                    <label for="MailUsername">Mail Username</label>
                    <input type="email" name="MailUsername" id="MailUsername" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="MailPassword">Mail Password</label>
                    <input type="password" name="MailPassword" id="MailPassword" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="MailEncryption">MailEncryption</label>
                    <input type="text" name="MailEncryption" id="MailEncryption" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="MailFromAddress">Mail From Address</label>
                    <input type="email" name="MailFromAddress" id="MailFromAddress" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="MailFromName">Mail From Name</label>
                    <input type="text" name="MailFromName" id="MailFromName" class="form-control">
                </div>
            </div>
            <div class="row text-md-end text-center">
                <div class="col-12">
                    <button type="button" class="btn btn-transparent border-primary saveChanges mt-3">Send Test Mail</button>
                </div>
            </div>
        </form>
    </div>
</div>
