<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <h3 class="text-center mb-3">User Login</h3>
                    <form action="" class="login-form" (ngSubmit)="passLoginData(submitForm)" #submitForm="ngForm">
                        <div class="mb-2">
                            <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                        </div>
                        <div class="mb-2">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        </div>
                        <div class="mb-1 text-center">
                            <button type="button" class="btn rounded button">Login</button>
                        </div>
                        <div class="text-center">
                            <p>Don't have an account?..<a href="" (click)="goToSignUp()">Register</a></p>
                        </div>
                    </form>
                    <hr>

                    <div class="d-md-grid gap-2 mb-2 text-center">
                        <button type="button" [disabled]="submitForm.invalid" (click)="onLogin()" class="btn rounded button"><i class="fa fa-user-circle" aria-hidden="true"></i> Super Admin Login</button>
                    </div>
                    <div class="d-md-grid gap-2 mb-2 text-center">
                        <button type="button" class="btn rounded button" (click)="onComanyLogin()"><i class="fa fa-industry" aria-hidden="true"></i> Company Login</button>
                    </div>
                    <div class="d-md-grid gap-2 text-center">
                        <button type="button" class="btn rounded button"><i class="fa fa-users" aria-hidden="true"></i> User Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
