<div class="container-fluid">
    <div class="row border border-danger">
        <div class="col-12 text-xl-left text-lg-left text-md-left text-sm-center text-center">
            <h3 class="header">Setting</h3>
        </div>
    </div>
    <div class="row border border-primary">
        <div class="col-12">
            <div class="card settingCard">
                <div class="card-header">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="Site Setting">
                            <app-site-setting></app-site-setting>
                        </mat-tab>
                        <mat-tab label="Mail Setting">Content 2</mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

</div>
