<div class="container-fluid">
    <div class="row border border-danger">
        <div class="col-12 text-xl-left text-lg-left text-md-left text-sm-center text-center">
            <h3 class="header">Plan Request</h3>
        </div>
    </div>
    <div class="row border border-primary">
        <div class="col-12 my-3">
          <div *ngIf="checkPlanRequestAvailable();else planRequestList">
            <div class="card">
              <div class="card-body">
                <h1>Currently no plan request is there</h1>
              </div>
            </div>
          </div>
          <ng-template #planRequestList>
            <div class="card mb-1" *ngFor="let t of getPlanRequestList()">
                <div class="card-body">
                    <div class="row">
                        <div class="col">Super Admin</div>
                        <div class="col">{{t.planName}}</div>
                        <div class="col">{{t.clientCount}} Client</div>
                        <div class="col">{{t.employeeCount}} Employee</div>
                        <div class="col">{{t.price | currency:"USD"}} / {{getPlanDurationDescriptionById(t.duration)}}</div>
                        <div class="col">{{t.description}}</div>
                        <div class="col"><button (click)="open(content,t.planId)"><i class="fa fa-check-square" aria-hidden="true"></i></button><button (click)="open1(content1,t.planId)"><i class="fa fa-window-close" aria-hidden="true"></i></button></div>
                    </div>
                </div>
            </div>
          </ng-template>
        </div>
    </div>
    <!-- modal code -->
    <ng-template #content let-modal>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h1>Your request has been submitted successfully</h1>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
      </div>
    </ng-template>
    <ng-template #content1 let-modal>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h1>Your request has been cancelled successfully</h1>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
      </div>
    </ng-template>
    <!-- modal code end -->
</div>
