
.card-footer p {
    color: #dde3ec;
    font-weight: bolder;
}
div.cftitle {
  color: #808080;
  font-weight: bolder;
}

.card-header div {
    color: #dde3ec;
    font-weight: bolder;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
    border-radius: 10px;
    border: 1px solid #6571ff;
    margin-bottom: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
select {
    color: white;
}



/* .addUserBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
} */

.userDetails {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* .details .jumbotron {
    padding: 0px;
} */


/*
.employee {
    font-size: 17px;
} */

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.activePlan {
    background-color: rgb(20, 223, 108);
}

.clsModal:hover {
    background-color: red;
}

i {
    color: #7987A1;
}

i:hover {
    color: #6571FF;
}

.card-title {
    color: #808080;
    font-size: 15px;
}
i{
  color:#7987A1;
}
i:hover{
  color:#6571FF;
}
.card-title{
  color: #808080;
  font-size: 15px;
}
