<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 pl-0 pr-0">
            <div class="Vertical-nav float-left" id="sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item sidenavitem">
                        <a class="nav-link" data-toggle="pill" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li class="nav-item sidenavitem">
                        <a class="nav-link" data-toggle="pill" routerLinkActive="active" routerLink="/User"><i class="fa fa-users" aria-hidden="true"></i>User</a>
                    </li>
                    <li class="nav-item sidenavitem">
                        <a class="nav-link" data-toggle="pill" routerLinkActive="active" routerLink="/Plan"><i class="fa fa-trophy" aria-hidden="true"></i>Plan</a>
                    </li>
                    <li class="nav-item sidenavitem">
                        <a class="nav-link" data-toggle="pill" routerLinkActive="active" routerLink="/PlanRequest"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Plan Request</a>
                    </li>
                    <li class="nav-item sidenavitem">
                        <a class="nav-link" data-toggle="pill" routerLinkActive="active" routerLink="/Setting"><i class="fa fa-cogs" aria-hidden="true"></i>Setting</a>
                    </li>
                </ul>
            </div>
            <div class="Page-content" id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 pl-0 pr-0 defaultheader">
                            <nav class="navbar navbar-expand navbar-light bg-light defaultnav">
                                <a class="navbar-brand btn hamburger" id="hamburger"><span class="navbar-toggler-icon" id="sidebarcollapse"></span></a>
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <button class="btn btn-primary superadmin" data-toggle="popover" data-placement="bottom" data-trigger="focus" popoverTitle="Hi,Super Admin" ngbPopover="hello"> Super Admin</button>
                                    </li>
                                </ul>
                                <img [src]="myimg" alt="" class="img-fluid logo">
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pl-0 pr-0">
                            <router-outlet></router-outlet>
                        </div>
                        <div class="col-12 border  border-primary">
                          <div class="row footer">
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 copyright"><i class="fa fa-copyright font-weight-bolder" aria-hidden="true"> {{getSiteFooterText()}}</i></div>
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center language">
                                <div ngbDropdown class="dropdown show">
                                    <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
                                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a ngbDropdownItem class="dropdown-item" href="#">English</a>
                                        <div class="dropdown-divider"></div>
                                        <a ngbDropdownItem class="dropdown-item" href="#">Arabic</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-12 text-center terms">
                                <a [href]="getSiteFooterLink1()">{{getSiteFooterTitle1()}}</a>
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-12 text-center privacy">
                                <a [href]="getSiteFooterLink2()">{{getSiteFooterTitle2()}}</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="main-wrapper" [ngClass]="setDirection()">
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <app-header></app-header>
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>
