<div class="card">
    <div class="card-body">
        <form action="">
            <div class="row">
                <div class="col-md-6">
                    <label for="MailDriver pb-1">{{'mailSetting.MailDriver' | translate}}</label>
                    <input type="text" name="MailDriver" id="MailDriver" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="MailHost">{{'mailSetting.MailHost' | translate}}</label>
                    <input type="text" name="MailHost" id="MailHost" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="MailPort">{{'mailSetting.MailPort' | translate}}</label>
                    <input type="number" name="MailPort" id="MailPort" class="form-control" min="100" max="10000">
                </div>
                <div class="col-md-6">
                    <label for="MailUsername">{{'mailSetting.MailUsername' | translate}}</label>
                    <input type="email" name="MailUsername" id="MailUsername" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="MailPassword">{{'mailSetting.MailPassword' | translate}}</label>
                    <input type="password" name="MailPassword" id="MailPassword" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="MailEncryption">{{'mailSetting.MailEncryption' | translate}}</label>
                    <input type="text" name="MailEncryption" id="MailEncryption" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="MailFromAddress">{{'mailSetting.MailFromAddress' | translate}}</label>
                    <input type="email" name="MailFromAddress" id="MailFromAddress" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="MailFromName">{{'mailSetting.MailFromName' | translate}}</label>
                    <input type="text" name="MailFromName" id="MailFromName" class="form-control">
                </div>
            </div>
            <div class="row text-md-end text-center">
                <div class="col-12">
                    <button type="button" class="btn btn-transparent border-primary saveChanges mt-3">{{'mailSetting.SendTestMail' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
