<!-- partial:partials/_footer.html -->
<footer class="footer  px-4 py-3 border-top small">
    <div class="row">
        <div class="text-muted col-lg-10 col-md-12 col-sm-12 col-12 text-xxl-start text-xl-start text-lg-start text-center">{{getSiteFooterText()}}</div>
        <div class="text-muted col-lg-1 col-md-12 col-sm-12 col-12 text-xxl-start text-xl-start text-lg-start text-center">{{getSiteFooterTitle1()}}</div>
        <div class="text-muted col-lg-1 col-md-12 col-sm-12 col-12 text-xxl-start text-xl-start text-lg-start text-center">{{getSiteFooterTitle2()}}</div>
    </div>
</footer>
<!-- partial -->
