.header {
    color: #13294B;
    font-weight: bolder;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 25px;
}

.card-title {
    color: #13294B;
}

.fa-pencil {
    color: #13294B;
}

.fa-trophy {
    color: #13294B;
}

.fa-stop-circle-o {
    color: #13294B;
}

.fa-trash {
    color: #13294B;
}

.fa-play-circle {
    color: #13294B;
}

.card-footer p {
    color: #13294B;
    font-weight: bolder;
}

.card-header div {
    color: #13294B;
    font-weight: bolder;
}

.addUserBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
}

.userDetails {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.details .jumbotron {
    padding: 0px;
}

.employee {
    font-size: 17px;
}

.footer {
    padding-top: 250px;
    padding-bottom: 10px;
}

.copyright {
    font-size: 17px;
    font-weight: bolder;
    padding-top: 5px;
    color: #13294B;
}

.terms {
    padding-top: 5px;
}

.terms a {
    font-size: 17px;
    color: #13294B;
    font-weight: bolder;
}

.privacy {
    padding-top: 5px;
}

.privacy a {
    font-size: 17px;
    color: #13294B;
    font-weight: bolder;
}

@media only screen and (min-width:200px) and (max-width:992px) {
    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .copyright {
        padding-bottom: 5px;
    }
    .language {
        padding-bottom: 5px;
    }
    .terms {
        padding-bottom: 5px;
    }
    .privacy {
        padding-bottom: 5px;
    }
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.activePlan{
  background-color: rgb(20, 223, 108);
}

.clsModal:hover{
  background-color: red;
}
