

/* .fa-pencil {
    color: #13294B;
}

.fa-trophy {
    color: #13294B;
}

.fa-stop-circle-o {
    color: #13294B;
}

.fa-trash {
    color: #13294B;
}

.fa-play-circle {
    color: #13294B;
} */

.card-footer p {
    color: #dde3ec;
    font-weight: bolder;
}

.card-header div {
  color: #dde3ec;
    font-weight: bolder;
}

/* .addUserBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
} */

.userDetails {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .details .jumbotron {
    padding: 0px;
} */
/*
.employee {
    font-size: 17px;
} */

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.activePlan{
  background-color: rgb(20, 223, 108);
}

.clsModal:hover{
  background-color: red;
}
i{
  color:#7987A1;
}
i:hover{
  color:#6571FF;
}
.card-title{
  color: #808080;
  font-size: 15px;
}
