.free {
    height: 100px;
    width: 100px;
}

.card-body .card-title {
    color: #808080;
    font-size: 15px;
}

.card-footer p {
    color: #dde3ec;
}

.card-header {
    color: #dde3ec;
    font-weight: bolder;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.ErrorSpan {
    color: red;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
select,
textarea {
    color: white;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="file"],
select,
textarea {
    border-radius: 10px;
    border: 1px solid #6571ff;
    margin-bottom: 5px;
}
